/pallindrom.class
/perfect_number.class
/armstrong.class
/power.class
/prime.class
/Swap_using_third_variable.class
/swap_without_Using_third_variable.class
/Arithematic_Operation.class
/febonacci.class
/even_odd_Sum.class
/Day_Switch.class
/Switch_Vowel.class
/Diamond_Shape.class
