/pallindrom.class
/perfect_number.class
/armstrong.class
/power.class
/prime.class
/Swap_using_third_variable.class
/swap_without_Using_third_variable.class
/Arithematic_Operation.class
/febonacci.class
/even_odd_Sum.class
/Day_Switch.class
/Switch_Vowel.class
/Diamond_Shape.class
/Diamond_shape2.class
/Number_Pyramid.class
/Number_Pyramid2.class
/Number_Pyramid3.class
/Number_pyramid4.class
/Pascalle.class
/Pascalle_simple.class
/Patteren1_22_333.class
/Patteren_1_123_1234.class
/Patteren123.class
/patteren1_121.class
/pyramid.class
/Reserve_Number_Pyramid.class
/Reverse_pyramid.class
/Square_Diagonal.class
/Square1.class
/star1.class
/star2.class
/Star3.class
/Star4.class
/Star5.class
/Even_odd_Switch.class
/Attendence.class
