/Arithematic_operation.class
/operation.class
/armstrong_perfect_prime_pallindrome.class
/basic.class
/Array_rev.class
/reverse.class
/Ascending_decending.class
/asc_dec.class
/char_Position.class
/char_pos.class
/duplicate_rmv.class
/duplicate.class
/duplicate_string.class
/dupli_char.class
/duplicate_word.class
/dupli_word.class
