/Arithematic_operation.class
/operation.class
/armstrong_perfect_prime_pallindrome.class
/basic.class
/Array_rev.class
/reverse.class
/Ascending_decending.class
/asc_dec.class
/char_Position.class
/char_pos.class
