/hd.class
/array_asc.class
/array_dec.class
/Array_rev.class
/array_element_enter.class
/dupli_array.class
/exception1.class
/pallindrome_array.class
/right_shift.class
/Left_Shift.class
/rmv_duplicates.class
