/Lower_String.class
/char_pos.class
/String_After_Char.class
/String_bfr_char.class
/String_Rev.class
/spilt_string.class
/end_substring.class
/Insert_word.class
/duplicate_Word.class
/Frequency_Word.class
/occarance_character.class
/Remove_word.class
/Replace_Word.class
/String_Uppercase.class
/Vowel_Consonant_count.class
